server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

        - id: auth-service-internal
          uri: http://localhost:8081
          predicates:
            - Path=/internal/auth/**

        - id: admin-service
          uri: http://localhost:8082
          predicates: 
            - Path=/admin/**

        - id: user-service
          uri: http://localhost:9002
          predicates:
            - Path=/users/**

        - id: task-service
          uri: http://localhost:9004
          predicates:
            - Path=/tasks/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info

